.genres{
    display: flex;
    gap: 5px;

    .genre{
        background-color: var(--pink);
        padding: 3px 5px;
        font-size: 13px;
        border-radius: 4.5px;
        color: white;
        white-space: nowrap;
    }
}